<!Doctype html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js">
</head>
<body>
<h1><%= title.toUpperCase(); %></h1>
This is something that should show up on the page
</body>
</html>
