<!Doctype html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h1><%= title; %></h1>
<p>This is something that should show up on the page</p>
<blockquote>
	"This is something really cool that someone else said back in the day"
</blockquote>
</div>
</body>
</html>
