<!Doctype html>
<head>
<title><%= title %></title>
</head>
<body>
<h1><%= title.toLowerCase(); %></h1>
<%= name %> is the name of this page.<br/>
<%= num %> is the random number for this page.
</body>
</html>
